.App {
  text-align: center;
}

.App-spinner {
  animation: App-spinner infinite 20s linear;
  height: 80px;
}

@keyframes App-spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
