@import 'Loader.css';

.App {
  text-align: center;
}

.App-spinner {
  animation: App-spinner infinite 20s linear;
  height: 80px;
}

@keyframes App-spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* sandbox */

.Badge-badges img {
  animation-name: Badge-badge-in;
  animation-duration: 1.2s;
}

@keyframes Badge-badge-in {
  from {
    transform: translate(-50vw) rotate(0.5turn);
    opacity: 0.3;
  }
  to {
    transform: translate(0) rotate(2turn);
    opacity: 1;
  }
}
